/* Reset de márgenes y padding */
* { margin: 0; padding: 0; }

body {
    font-family: Arial, sans-serif;
    background: url('../irudiak/Gabonak\ fondo.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
    max-width: 762px;
    margin: auto;
    height: 100vh;
    overflow-y: auto; /* Activa la barra de desplazamiento vertical */
    overflow-x: hidden; /* Evita la barra horizontal si no es necesaria */
}

header {
    border: 2px solid #2e68139a;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin: 2%;
    margin-bottom: 3%;
    padding: 2%;
    background-color: #74d680;
    color: white;
    text-align: center;
    font-size: 1.8rem;
}



nav {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    padding: 2%;
    background-color: #8ae262;
    border: 2px solid #2e68139a;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}


nav li {
    display: inline;
    margin: 1%;
}

nav li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size-adjust: calc();
}
nav ul {
  list-style: none; /* Elimina los puntos de las listas */
  margin: 0;
  padding: 0;
  display: flex; /* Distribuye los elementos horizontalmente */
  gap: 20px; /* Espaciado entre los elementos */
}
main {
    
    text-align: center;
    color: azure;
    border: 2px solid #2e68139a; /* Borde solicitado */
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    margin: 10px auto; /* Mantiene centrado */
    padding: 20px;
    background-color: #378b29;
    width: 90%;
    background-image: url('../irudiak/patroia50.jpg'); /* Patrón repetido */
    background-size: 50px 50px;
    background-repeat: repeat;
}

.flex-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    gap: 20px; /* Espacio entre la imagen y el texto */
    margin: 40px auto;
}
.flex-container img {
    width: 36%; /* Aumenta el ancho al 80% del contenedor */
    max-width: none; /* Elimina cualquier límite de tamaño */
    height: auto; /* Mantén proporciones */
    border-radius: 5%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}


/* Estilos para el texto */
.Testua {
    font-weight: bold;
    text-shadow: 1px 1px 5px #333;
    text-align: left;
    width: 60%; /* El texto ocupará el 60% del contenedor */
    max-width: 600px;
    line-height: 1.5;
    color: white;
}

/* Estilos del botón */
button {
    margin-top: 20px;
    padding: 10px;
    background-color: #74d680;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #66c45c;
}

img {
border-radius: 1%;
max-width: 10%;
height: auto;
}

footer{
    border: 1px solid rgb(231, 231, 231);
    margin: 1.968503937007874015748031496063%;
    padding: 1.968503937007874015748031496063%;
    width: 91.863517060367454068241469816273%;
    clear: left;
    background-color: azure;
}
